[submodule "thirds/spdlog"]
	path = thirds/spdlog
	url = https://github.com/gabime/spdlog
[submodule "thirds/abseil-cpp"]
	path = thirds/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "thirds/fmt"]
	path = thirds/fmt
	url = https://github.com/fmtlib/fmt.git
